.resetPassword{
    width: 600px;
    height: 500px;
    background-color: rgb(189, 178, 178);
    box-shadow: 0 4px 30px rgba(52, 116, 194, 0.25)!important;
    margin-left: 350px;
    top:20px;
    position: relative;
    border-radius: 15px;
}
.oldPassword>input,.newPassword>input,.confirmPassword>input{
    height: 50px!important;
    width: 400px!important;
    border-radius: 5px;
    left: 80px;
    position: relative;
   padding-left: 50px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: none;
   outline: none;
}
.oldPassword>input{
    top:80px;
    position: relative;

   
}
.newPassword>input{
    top:120px;
    position: relative;
  
}

.newPassword>input::placeholder,.oldPassword>input::placeholder,.confirmPassword>input::placeholder{
    left:10px;
    position: relative;
}
.confirmPassword>input{
    top:160px;
    position: relative;
}
.btn-input-pass{
    top:200px;
    right: 40px;
 
    position: relative;

    margin-left: 140px!important;
    margin-top: 60px!important;
    width: 400px!important;
    height: 50px;
    cursor: pointer;
     background-color: red!important;
     outline: none;
     border: none;
     color:white!important;
     font-weight: 700!important;
  
}
.buton-icon{
    font-size: 25px!important;
    color:rgb(189, 178, 178)!important
    
}

.btn-input-pass:hover{
    background-color: #3285EA!important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)!important;
}

input[type="password"]{
    font-size:20px;
}
.password{
    font-size:25px
}

.oldPassword>svg,.confirmPassword>svg,.newPassword>svg{
    margin-left:95px;
    font-size: 25px;
    z-index: 2;
}
.oldPassword>svg{
    position: absolute;
    margin-top: 95px;
}

.confirmPassword>svg{
    position: absolute;
    margin-top: 175px;
}
.newPassword>svg{
    position: absolute;
    margin-top: 135px;
}