.custom-header {
    font-weight: bolder!important;
    background-color: #f0f0f0;
    color: red;
    /* Add more styles as per your requirements */
  }
.makeStyles-deleteProduct-1{
  fill:red!important;
  font-size: 24px!important;
  cursor: pointer!important;
}
.makeStyles-editProduct-2{
  fill:green!important;
  font-size: 24px!important;
  cursor: pointer!important;
}